$small:500px;
.issue-page-container{
   display: flex;
   flex-direction: column;
   align-items: center;
    
   
    .header{
        border-bottom: 1px solid black;
        width: 900px;
        .title{
                font-size: 30px;
                display: flex;
                flex-wrap: wrap;

                .issue{
                    font-weight: 100;
                    font-style: italic;
                    color: grey;
                    margin-left: 10px;
                }
            }
        
            .sub-title{
                display: flex;
            }
    }

    li{
        list-style: none;
    }

    
    .body-container{
        width: 900px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 14px;
        border: 0.1px solid grey;
        padding: 5px 10px;
        border-radius: 20px;
        text-align: justify;

        img{
            width: 900px;  

            &:hover{
                transform: scale(1.01);
                transition: transform 2s;
                cursor: pointer;
            }
        }
        
    }
        @media screen and (max-width:$small) {
            .header{
                width: 380px;
                text-align: justify;

                .title{
                    font-size: 20px;
                }

                .sub-title{
                    font-size: 12px;
                }
            }

            .body-container{
            font-size: 12px;
            width: 350px;
            margin: 10px 0px;
            border-radius: 15px;
                img{
                    width: 350px;

                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
}