$small:600px;
.comments-container{
    display: flex;
    flex-direction: column;
    align-items: center;

   $small:500px;

    .comment-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid grey;
        width: 900px;
        border-radius: 20px;
        
        
        
        .replier-info{
            width: max-content;
            font-size: 14px;
            border: 0.1px solid grey;
            padding: 5px 10px;  
            background-color: grey; 
            font-weight:bold ;
            color: white;
            border-radius: 20px 0px 0px 0px;
         }

        .comment-body{
            width: 880px;
            text-align: justify;
            font-size: 14px;
            padding: 5px 10px;
            text-align: justify;

            img{
                width:800px;
                position: relative;
                overflow: hidden;
            }

            @media screen and (max-width:$small) {
                font-size: 10px;
            }
        }
    }

    @media screen and (max-width:$small) {
        .comment-item{
            width: 300px; 

            .replier-info{
                width: max-content;
                font-size: 11px;
                border: 0.1px solid grey;
                padding: 5px 10px;  
                background-color: grey; 
                font-weight:bold ;
                color: white;
                border-radius: 20px 0px 0px 0px ;
            }
            
            .comment-body{

                img{
                   width: 160px; 
                   height: 150px;
                  
                   &:hover{
                    transform: scale(1.5);
                    overflow: auto;
                   }
                }

                a{
                    width: 160px;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                }

                p{
                    width: 280px;
                }
            }


        }

    }
    
}